/*colors: buttons-#4A44FA
          headings-#282487
          navbar-#6A007A
*/

/* title */

#title .container-fluid{
    padding: 1% 10% 5%;
}

.title-parent
{
    position: relative;
    z-index: -1;
}

.title-text
{
    position: absolute;
    top: 0px;
    height: 650px;
}

.title-image
{
    z-index: -1;
    position: absolute;
    height: 650px;
}


.main-img
{
    width: 100%;
    height: 650px;
}

@media screen and (max-width: 900px) {
    .main-img
    {
        height: 400px;
    }
}

.title-content
{
    margin-top: 15%;
    width: 30%;
}

/* Button style */
.butn{
    font-size: 1.15rem;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 7px;
    background-color: rgb(249, 98, 44);
    margin: 0px 5px;
}

.butn:hover
{
    background-color: white;
    border: 1px solid rgb(255, 68, 0);
    color: rgb(255, 68, 0);
}

/* features section */

#features
{
    padding: 3% 15%;
}

.feature-div
{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    background-color: rgb(224, 222, 221); 
    box-shadow: 0 4px 8px 0 rgb(250, 145, 106), 0 6px 20px 0 rgba(0, 0, 0, 0.2); 
    border-radius: 13px;
    padding: 5% 7%;
}

.feature-div >div
{
  text-align: center;
  margin: 10px;
  font-size: 20px;
}


