body{
    background-color: #ebf4f9;
}

.container-fluid{
    padding: 3% 15%;
}

#menu{
    margin: 3% 0;
}

h1{

    text-align: center;
}

.item-card{
    height: 300px;
    margin-top: 50px;
    background-color: rgb(224, 222, 221);
    box-shadow: 0 4px 8px 0 rgb(250, 145, 106), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    padding: 10%;
    text-align: center;
}

.col-lg-3{
    /* border: 1px solid blue; */
}

.row{
    /* border: 2px dotted red; */
}

input{
    margin-bottom: 15px;
}

label{
    font-size: 1.35rem;
    font-weight: 400;
}

.butn{
    font-size: 1.15rem;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 7px;
    background-color: rgb(249, 98, 44);
}

.butn:hover{
    background-color: white;
    border: 1px solid rgb(255, 68, 0);
    color: rgb(255, 68, 0);
}

.item-price{
    color: rgb(255, 68, 0);
}

/*View Menu CSS*/

.view-menu{
    display: flex;
}
